<!doctype html>
<html>

<head>
</head>

<body>
    <form method="POST" action="#" name="alarm">
        <div>{{ form.hour(type="number") }}</div>
        <div>{{ form.minute(type="number") }}</div>
        <div>{{ form.active.label }} {{ form.active }}</div>
        <div>{{ form.day_of_week_1.label }} {{ form.day_of_week_1 }} </div>
        <div>{{ form.day_of_week_2.label }} {{ form.day_of_week_2 }}</div>
        <div>{{ form.day_of_week_3.label }} {{ form.day_of_week_3 }}</div>
        <div>{{ form.day_of_week_4.label }} {{ form.day_of_week_4 }}</div>
        <div>{{ form.day_of_week_5.label }} {{ form.day_of_week_5 }}</div>
        <div>{{ form.day_of_week_6.label }} {{ form.day_of_week_6 }}</div>
        <div>{{ form.day_of_week_7.label }} {{ form.day_of_week_7 }}</div>
        <button type="submit">Save</button>
    </form>
</body>

</html>